@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --font-family-primary: 'Roboto', sans-serif;
  --color-light-primary: #f9faf8;
  --color-light-secondary: #E5E7Eb;
  --color-header: #1F2937;
  --color-placeholder: #5a5a5a;
  --color-quote: #E5E7EB;
  --color-button: #3882F6;
  --color-text-black: #1F2937;
  --gap-large: 40px;
  --gap-mid:28px;
  --gap-small: 16px;
  --font-size-giant: 48px;
  --font-size-large: 36px;
  --font-size-mid: 24px;
  --font-size-small: 18px;
}

/* === Global Styles === */
body {
  font-family: var(--font-family-primary)
}

/* === Header Section === */
.header, .hero-container {
    align-items: center;
    background-color: var(--color-header);
    display: flex;
    gap: var(--gap-large);
    justify-content: space-between;
    padding: 0 120px 80px;
  }

  .header__logo {
    color: var(--color-light-primary);
    font-size: var(--font-size-mid);
    font-weight: 900;
  }

/* === Navigation (ul) Styling === */
ul{
  color: var(--color-light-secondary);
  display: flex;
  font-size: var(--font-size-small);
  gap: var(--gap-mid);
  list-style: none;   
}

/* === Hero Styling === */
.hero-container{
  align-items: stretch;
  flex: 1;
}

.hero-container__left {
  flex: 1;
}

.hero-container__primary {
  color: var(--color-light-primary);
  font-size: var(--font-size-giant);
  font-weight: 900;
}

.hero-container__secondary {
  color:var(--color-light-secondary);
  font-size: var(--font-size-small);
  margin-bottom: 8px;
}

.hero-container__image {
  align-items: center;
  background-color: var(--color-placeholder);
  color: var(--color-light-primary);
  display: flex;
  flex: 1;
  height: auto;
  justify-content: center;
  width: 100%;
}

/* === Info Section Styling === */
.header-info {
    color: var(--color-text-black);
    font-size: var(--font-size-large);
    font-weight: 900;
    padding: var(--gap-large) 0;
    text-align: center;
  }

.info-container {
  align-items: center;
  display:flex;
  gap: var(--gap-mid);
  justify-content: center;
  padding: 0 120px 32px;
}

.info-images {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-mid);
  justify-content: center;
    
}

.info-item {
  align-items: center;
  display:flex;
  flex: 1 1 calc(25% - var(--gap-mid));
  flex-direction: column;
  justify-content: center;
  max-width: 150px;
  min-height: 50px;
  min-width: 50px;
}

.info__image {
  align-items: center;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: 4px var(--color-button) solid;
  border-radius: 8px;
  flex: 1;
  margin-bottom: var(--gap-small);
  width: 100%;
}

.info__text{
  color: var(--color-text-black);
  font-size: var(--font-size-small);
  max-width: 100%;
  text-align: center
}

/* === Quote Section Styling === */
.quote-container {
  background-color: var(--color-quote);
  color: var(--color-text-black);
  display: flex;
  flex-direction: column;
}


.quote {
  font-size: var(--font-size-large);
  font-style: italic;
  font-weight: 100;
  margin: 0;
  padding: 120px 240px 0;
}

.quote-source{
  font-weight: 900;
  padding: 0 240px 80px;
  text-align: right;
}

/* === Call to Action Styling === */
.action-container {
  align-items: center;
  background-color: var(--color-button);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin: 80px 120px;
  padding: 40px 120px;
}

.action-primary {
  color: var(--color-light-primary);
  font-size: var(--font-size-mid);
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.action-secondary {
  color: var(--color-light-secondary);
  font-size: var(--font-size-small);
  margin: 0;
  padding: 0;
}

/* === Footer Styling === */
.footer-container {
  align-items: center;
  background-color: var(--color-header);
  display: flex;
  justify-content: center;
  padding: var(--gap-large) 0;
}

.footer-text {
  color: var(--color-light-secondary);
  font-size: var(--font-size-small);
}

/* === Button Styling === */
button {
  background-color: var(--color-button);
  border: none;
  border-radius: 8px;
  color: var(--color-light-primary);
  font-size: var(--font-size-small);
  font-weight: 900;
  padding: 8px 24px;
}

.button-action {
  align-items: center;
  border: 4px var(--color-light-primary) solid;
  display: flex;
  font-size: var(--font-size-small);
  font-weight: 900;
  height: 36px;
}
