@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --font-family-primary: 'Roboto', sans-serif;
  --color-light-primary: #f9faf8;
  --color-light-secondary: #E5E7Eb;
  --color-header: #1F2937;
  --color-placeholder: #5a5a5a;
  --color-quote: #E5E7EB;
  --color-button: #3882F6;
  --color-text-black: #1F2937;
  --gap-large: 40px;
  --gap-mid:28px;
  --gap-small: 16px;
  --font-size-giant: 48px;
  --font-size-large: 36px;
  --font-size-mid: 24px;
  --font-size-small: 18px;
}

/* === Global Styles === */
body {
  font-family: var(--font-family-primary)
}

/* === Header Section === */
.header, .hero-container {
    align-items: center;
    background-color: var(--color-header);
    display: flex;
    gap: var(--gap-large);
    justify-content: space-between;
    padding: 0 120px 80px;
  }

/* === Navigation (ul) Styling === */
ul{
  color: var(--color-light-secondary);
  display: flex;
  font-size: var(--font-size-small);
  gap: var(--gap-small);
  list-style: none;   
}

/* === Hero Styling === */
.hero-container{
  align-items: stretch;
  flex: 1;
}

.hero-container__left {
  flex: 1;
}

.header__logo {
  color: var(--color-light-primary);
  font-size: var(--font-size-mid);
  font-weight: 900;
}

.hero-container__primary {
  color: var(--color-light-primary);
  font-size: var(--font-size-giant);
  font-weight: 900;
}

.hero-container__secondary {
  color:var(--color-light-secondary);
  font-size: var(--font-size-small);
  margin-bottom: 8px;
}

.hero-container__image {
  align-items: center;
  background-color: var(--color-placeholder);
  color: var(--color-light-primary);
  display: flex;
  flex: 1;
  height: auto;
  justify-content: center;
  width: 100%;
}

/* === Info Section Styling === */
.header-info {
    text-align: center;
    padding: var(--gap-large) 0;
    
    color: var(--color-text-black);
    font-size: var(--font-size-large);
    font-weight: 900;
  }

.info-container {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-mid);
  padding: 0 120px 80px;
}

.info-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-mid);
  flex: 1;
    
}

.info-item {
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
  flex: 1 1 calc(25% - var(--gap-mid));
  min-width: 50px;
  min-height: 50px;
  max-width: 150px;
}

.info__image {
  align-items: center;
  flex: 1;
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: var(--gap-small);

  background-color: transparent;
  border: 4px var(--color-button) solid;
  border-radius: 8px;
}

.info__text{
  max-width: 100%;
  text-align: center;

  font-size: var(--font-size-small);
  color: var(--color-text-black)
}

/* === Button Styling === */
button {
  background-color: var(--color-button);
  border: none;
  border-radius: 8px;
  color: var(--color-light-primary);
  padding: 8px 24px;
}
